body {
    margin: 0 auto;
    background: #222;
    color: #FFF;
    font-family: sans-serif;
    /*
    min-width: 1200px;
    */
    width: calc(100% - 1em);
    height: calc(100% - 1em) !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
#wrapper {
    background: #333;
    margin: 0 auto;
    width: 98%;
    height: 98%;
    overflow: hidden;
}
#gal_wrapper {
    background: #333;
    bottom: 0;
    margin: 0 auto;
    width: 98%;
    height: 500vh;
}
header {
    margin: 0 auto;
    width: 99%;
    height: 100px;
    background: #282828;
    border-bottom: 3px solid #DC4A3D;
}
header h1 {
    font-weight: 400;
    padding: 0 40px;
    line-height: 2.5em;
    font-size: 38px;
    font-family: Gill Sans;
    cursor: default;
}
nav {
    margin: 0 auto 5px auto;
    width: 100%;
    height: 40px;
    font-size: 14px;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav ul li {
    display: inline-block;
    padding: 15px 15px;
    text-align: center;
    transition: all .3s linear;
    background: #333;
}
nav ul li:hover {
    background: #DC4A3D;
}
nav ul li ul {
    position: absolute;
    list-style: none;
    display: none;
    height: auto;
}
nav ul li:hover ul {
    display: block;
    width: fit-content;
    margin: 15px 0 0 -55px;
    z-index: 1;

}
nav ul li ul li {
    display: block;
    padding: 12px 15px 12px;
    width: 120px;
    text-align: left;
}
main {
    margin: 8px auto 0 !important;
    width: 99% !important;
    height: 70%;
    background: #282828;
    padding: 20px 0;
}


/*-----------------------------------------------------------------*/
/* Screen Resizing */

@media only screen and (max-width : 480px) {
    nav ul li ul li {
        display: block;
        padding: 12px 10px 12px;
    }
    nav ul li {
        padding: 15px 10px;
    }
    nav {
        width: 95%;
    }
}

@media only screen and (max-width : 860px){
  
}


/*-----------------------------------------------------------------*/
/* .doc-navbar > .fa {
    
}
.doc-navbar > .fa:active {

} */


/* .fa-angle-double-up {
} */


/* .fa-angle-double-down {
} */


/*-----------------------------------------------------------------*/

/* Menu activation */
#drop_button {
    width: 50px;
    height: 30px;
    display: block !important;
    border: none;
    cursor: pointer;
    background: none;
    cursor: pointer;
    clear: left;
    font-size: 25px;
    background: #b37759;
    border-radius: 8px;
    margin: 8px;
}
/* #drop_button:focus {

} */

#drop_button[class~="active"]:hover {
    border-radius: 0;
    background-color: #000000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#drop_button:not(.active):hover {
    border-radius: 8px;
    background: #DC4A3D;
    
}
#drop_button:hover,#drop_button:active .fa {
    color: wheat!important;
}

/* Dropdown menu container */
.doc-navbar-container {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 400px;
}
/* Base extended menu with options */
.doc-navbar {
    width: 50px;
    position: absolute;
    margin: 8px;
    padding: 0;
    border: 2px wheat;
    border-radius: 8px;
    background-size: 55px 300px;
    background: #b37759;
    list-style: none;
}

/* 
.docs-select-item {
    
    display: block;
    width: 50px;
    height: 30px;
    
    float: left;
    clear: left;
 }
 */

/*  */
.docs-select-item {
    /* display: none; */
    display: none;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: #DC4A3D;
}

.docs-select-item i {
    float: left;
    padding: 5px 14px;
    font-size: 20px;
}
.docs-select-item span {
    display: none;
    float: left;
    padding: 0 10px;
    font-size: 20px;
}

/* Display toggle */
.active {
    display: block;
}
/* .docs-select-item:not(.active) {
    background: none;
}
.docs-select-item .active a span {
    display: block;
} */

/* .doc-selector-item:hover, .doc-selector-item:active {
    w3-animate-left: 300px;
} */

div.doc-selector-item__content > .strip__title, .strip__inner-text {
    display: none;
}


/*------------------------------------------------------------------*/
#info {
    padding: 50px;
    text-align: center;
    height: 200px;
    padding: 0 120px;
}
.circle {
    margin: 0 auto;
    display: inline-block;
    margin: 0 10px;
    width: 190px;
    height: 190px;
    border: 4px solid #DC4A3D;
    border-radius: 190px;
}
.circle p .dat {
    text-align: center;
    font-size: 500px;
    font-weight: 200;
    padding: 15px 0;
}

.row {
    margin: 15px;
}

a {color: #ffffff;}         /* Unvisited link  */
a:visited {color: #ffffff;} /* Visited link    */
a:hover {color: #030303;}   /* Mouse over link */
/* a:active {color: #ff0000;}  !* Selected link   *! */
a:active {color: #030303;}




/*--------------------------------------------------------------*/







