body {
    margin: 0 auto;
    background: #222;
    color: #FFF;
    font-family: sans-serif;
    /*
    min-width: 1200px;
    */
    width: calc(100% - 1em);
    height: calc(100% - 1em) !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
#wrapper {
    background: #333;
    margin: 0 auto;
    width: 98%;
    height: 100vh;
}

#gal_wrapper {
    background: #333;
    bottom: 0;
    margin: 0 auto;
    width: 98%;
    height: 500vh;
}

header {
    margin: 0 auto;
    width: 99%;
    height: 100px;
    background: #282828;
    border-bottom: 3px solid #DC4A3D;
}
header h1 {
    font-weight: 400;
    padding: 0 40px;
    line-height: 2.5em;
    font-size: 38px;
    font-family: Gill Sans;
    cursor: default;
}
nav {
    margin: 0 auto 5px auto;
    width: 100%;
    height: 40px;
    font-size: 14px;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav ul li {
    display: inline-block;
    padding: 15px 15px;
    text-align: center;
    transition: all .3s linear;
    background: #333;
}
nav ul li:hover {
    background: #DC4A3D;
}
nav ul li ul {
    position: absolute;
    list-style: none;
    display: none;
    height: auto;
}
nav ul li:hover ul {
    display: block;
    width: fit-content;
    margin: 15px 0 0 -55px;
    z-index: 1;

}
nav ul li ul li {
    display: block;
    padding: 12px 15px 12px;
    width: 120px;
    text-align: left;
}
main {
    margin: 13px auto 0 !important;
    width: 99% !important;
    height: 500px;
    background: #282828 ;
    padding: 20px 0;
}
.titlebar {
    background: #DC4A3D;
    width: 500px;
    height: 30px;
    margin: 0 0 20px 0;
}
.titlebar i {
    float: left;
    padding: 5px 10px;
    font-size: 20px;
}
.titlebar span {
    float: right;
    padding: 0 10px;
    font-size: 20px;
}

#info {
    padding: 50px;
    text-align: center;
    height: 200px;
    padding: 0 120px;
}
.circle {
    margin: 0 auto;
    display: inline-block;
    margin: 0 10px;
    width: 190px;
    height: 190px;
    border: 4px solid #DC4A3D;
    border-radius: 190px;
}
.circle p .dat {
    text-align: center;
    font-size: 500px;
    font-weight: 200;
    padding: 15px 0;
}

.row {
    margin: 15px;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: blue;
}

main {
}